.source-wrapper{
    height: 100%;
}
.source{
    margin: 10px 5px;
    background-color:lightblue;
    border-radius: 4px;
    padding: 10px;
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: table;
    cursor: pointer;
}
.source p{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.article-wrapper{
    height: 250px;
    margin-bottom: 20px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    padding: 0;
    position: relative;
}

.article-wrapper .article-bg{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
}

.article-wrapper .article-info{
    position: absolute;
    top: 33%; 
    text-align: center;
    padding-right: 5%;
    left: 5%;

}

.article-wrapper .article-info a{
    text-decoration: none;
    color: white;
}