<div class="container" ng-show="showArticleDirc">
    <h1>Latest Articles</h1>
    <div class="row" ng-repeat="article in newsArticles">
        <div class="col-md-12 article-wrapper" ng-style="{'background-image':'url('+ article.urlToImage +')'}" ng-mouseover="hoversource = true" ng-mouseleave="hoversource = false">
            <div class="article-bg">
            </div>
            <div class="article-info">
                <h1 ng-show="!hoversource">{{article.title}}</h1>
                <h5 ng-show="hoversource">{{article.description}}</h5>
            </div>
        </div>
    </div>
</div>
